@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Headline:wght@200..700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Stack Sans Headline", sans-serif;
  background-color: #D7E4FA;
  color: black;
}


button{
  border: 1px black;
  font: black;
  align-self: inline;
}

h1{
  font-size: 50px;
  padding-top: 15px;
  font-family:"Stack Sans Headline", sans-serif;
  font: black;
}

h2{
  font-size: 30px;
  font-family: "Space Grotesk", sans-serif;
  font: black;
}

h3{
  font-weight: bold;
  font-family: "Stack Sans Headline", sans-serif;
  font: black;
}

p{
  font-family: "Stack Sans Headline", sans-serif;
  font: black;
}

Nav{
  padding-top:25px;
  padding-bottom:25px;
  text-align: center;
  background-color: #c3d9f1;
  font: black;
}

hr{
  color: rgba(34, 25, 166, 0.781) ;
  font: black;
}

.centering-block{
  text-align: center;
  float: right;
  align-self: right;
  margin-left: auto; 
  margin-right: 0;
  font: black;
}

.battery-popup{
  background-color: white;
  width: 50px;
  height: 25px;
}

.big-block{
  max-width: fit-content;
  display: flex;
  margin: auto;
}

.block{
  background-color: rgb(241, 245, 255);
  padding: 25px;
  margin: 10px;
  max-height: 500px;
  max-width: 350px;
  text-align: center;
  align-self :center;
  border-radius: 8px;
  border-width: 0.75px;
  border-color: #3b36b7;
  font: black;
}

.header{
  padding: 10px;
  text-align: center;
  background-color: rgba(231, 227, 227, 0.722); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, rgb(195, 236, 246),rgb(216, 228, 250));
  font: black;
  /* font-family: "Space Grotesk", sans-serif; */
}

.navItems{
  padding: 100px;
  font-family:"Stack Sans Headline", sans-serif;
  font-weight:400;
  font: black;
}

.notifications{
  background-color: #3f479d8b;
  margin-top: 25px;
  float: right;
  width: 25%;
  height: 100vh;
  font: black;
}

.notifs{
  display: inline;
  padding-left: 75px;
}