action-msgs==2.0.3
actionlib-msgs==5.3.6
ament-cmake-test==2.5.4
ament-copyright==0.17.3
ament-cppcheck==0.17.3
ament-cpplint==0.17.3
ament-flake8==0.17.3
ament-index-python==1.8.1
ament-lint==0.17.3
ament-lint-cmake==0.17.3
ament-package==0.16.4
ament-pep257==0.17.3
ament-uncrustify==0.17.3
ament-xmllint==0.17.3
argcomplete==3.6.3
builtin-interfaces==2.0.3
catkin-pkg==1.1.0
certifi==2025.10.5
charset-normalizer==3.4.4
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.1
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.4.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
composition-interfaces==2.0.3
contourpy==1.3.3
control-msgs==5.5.0
controller-manager==4.38.0
controller-manager-msgs==4.38.0
coverage==7.11.0
cv-bridge==4.1.0
cycler==0.12.1
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.6
distlib==0.4.0
docutils==0.22.2
domain-coordinator==0.12.0
empy==4.2
example-interfaces==0.12.0
filelock==3.20.0
fonttools==4.60.1
foxglove-msgs==3.2.1
fsspec==2025.10.0
generate-parameter-library-py==0.5.0
geometry-msgs==5.3.6
idna==3.11
ImageIO==2.37.2
iniconfig==2.3.0
interactive-markers==2.5.5
Jinja2==3.1.6
kiwisolver==1.4.9
laser-geometry==2.7.2
launch==3.4.7
launch-ros==0.26.9
launch-testing==3.4.7
launch-testing-ros==0.26.9
launch-xml==3.4.7
launch-yaml==3.4.7
lifecycle-msgs==2.0.3
map-msgs==2.4.1
MarkupSafe==3.0.3
matplotlib==3.10.7
message-filters==4.11.8
mpmath==1.3.0
nav-msgs==5.3.6
networkx==3.5
notify2==0.3.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
opencv-python==4.12.0.88
osrf-pycommon==2.1.7
packaging==25.0
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pillow==12.0.0
pluggy==1.6.0
polars==1.35.1
polars-runtime-32==1.35.1
psutil==7.1.3
Pygments==2.19.2
pyparsing==3.2.5
pytest==8.4.2
pytest-cov==7.0.0
pytest-repeat==0.9.4
pytest-rerunfailures==16.1
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
PyYAML==6.0.3
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
rcl-interfaces==2.0.3
rclpy==7.1.5
rcutils==6.7.4
requests==2.32.5
resource-retriever==3.4.4
rmw-dds-common==3.1.0
ros-image-to-qimage==0.4.1
ros2action==0.32.6
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.6
ros2component==0.32.6
ros2doctor==0.32.6
ros2interface==0.32.6
ros2launch==0.26.9
ros2lifecycle==0.32.6
ros2multicast==0.32.6
ros2node==0.32.6
ros2param==0.32.6
ros2pkg==0.32.6
ros2run==0.32.6
ros2service==0.32.6
ros2topic==0.32.6
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.6
rosidl-cli==4.6.6
rosidl-cmake==4.6.6
rosidl-generator-c==4.6.6
rosidl-generator-cpp==4.6.6
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.6
rosidl-parser==4.6.6
rosidl-pycommon==4.6.6
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-fastrtps-cpp==3.6.2
rosidl-typesupport-introspection-c==4.6.6
rosidl-typesupport-introspection-cpp==4.6.6
rpyutils==0.4.2
rqt==1.6.1
rqt-action==2.2.0
rqt-bag==1.5.5
rqt-bag-plugins==1.5.5
rqt-console==2.2.1
rqt-controller-manager==4.38.0
rqt-dotgraph==0.0.5
rqt-gauges==0.0.3
rqt-graph==1.5.5
rqt-gui==1.6.1
rqt-gui-py==1.6.1
rqt-joint-trajectory-controller==4.33.0
rqt-moveit==1.0.1
rqt-msg==1.5.1
rqt-plot==1.4.4
rqt-publisher==1.7.2
rqt-py-common==1.6.1
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.6
rqt-robot-steering==2.0.0
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-tf-tree==1.0.5
rqt-topic==1.7.3
scipy==1.16.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.3
setuptools==79.0.1
shape-msgs==5.3.6
six==1.17.0
sros2==0.13.4
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
sympy==1.14.0
tf2-geometry-msgs==0.36.14
tf2-kdl==0.36.14
tf2-msgs==0.36.14
tf2-py==0.36.14
tf2-ros-py==0.36.14
tf2-sensor-msgs==0.36.14
tf2-tools==0.36.14
torch==2.9.0
torchvision==0.24.0
trajectory-msgs==5.3.6
triton==3.5.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typing_extensions==4.15.0
ultralytics==8.3.225
ultralytics-thop==2.0.18
unique-identifier-msgs==2.5.0
urllib3==2.5.0
visualization-msgs==5.3.6
