<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wheel" params="side radius width pos_x pos_y pos_z mass mesh_file steerable=False steer_range=0.0">
    <link name="${side}_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <xacro:if value="${mesh_file == ''}">
            <cylinder radius="${radius}" length="${width}"/>
          </xacro:if>
          <xacro:unless value="${mesh_file == ''}">
            <mesh filename="${mesh_file}" scale="1 1 1"/>
          </xacro:unless>
        </geometry>
        <material name="blue">
            <color rgba="0.1764 0.4588 0.8509 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${width}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="${(2/5) * mass * (radius * radius)}" ixy="0" ixz="0"
                 iyy="${(2/5) * mass * (radius * radius)}" iyz="0"
                 izz="${(2/5) * mass * (radius * radius)}" />
      </inertial>
    </link>

    <xacro:if value="${steerable}">
      <link name="${side}_steering_link">
        <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.01"/>
          <inertia ixx="0.00001" ixy="0" ixz="0"
                  iyy="0.00001" iyz="0"
                  izz="0.00001" />
        </inertial>
      </link>

      <joint name="${side}_steering_joint" type="revolute">
        <axis xyz="0 0 1" />
        <parent link="base_link"/>
        <child link="${side}_steering_link"/>
        <origin xyz="${pos_x} ${pos_y} ${pos_z}" rpy="0 0 0"/>
        <limit lower="${-steer_range}" upper="${steer_range}" effort="10" velocity="1.0"/>
        <dynamics damping="1.0" friction="1.0"/>
      </joint>
      
      <joint name="${side}_wheel_joint" type="continuous">
        <axis xyz="0 1 0" />
        <parent link="${side}_steering_link"/>
        <child link="${side}_wheel_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
    </xacro:if>

    <xacro:unless value="${steerable}">
      <joint name="${side}_wheel_joint" type="continuous">
        <axis xyz="0 1 0" />
        <parent link="base_link"/>
        <child link="${side}_wheel_link"/>
        <origin xyz="${pos_x} ${pos_y} ${pos_z}" rpy="0 0 0"/>
      </joint>
    </xacro:unless>

    <xacro:if value="${steerable}">
      <gazebo reference="${side}_steering_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
      </gazebo>
    </xacro:if>

    <gazebo reference="${side}_wheel_link">  
      <visual>  
        <material>
          <ambient>0.1764 0.4588 0.8509 1.0</ambient>  
          <diffuse>0.1764 0.4588 0.8509 1.0</diffuse>  
          <specular>0.1764 0.4588 0.8509 1.0</specular>  
          <emissive>0.0 0.0 0.0 0.0</emissive>  
        </material>
      </visual>  
    </gazebo>
  </xacro:macro>
</robot>