---
import Image from "astro/components/Image.astro";

import logo from "@/assets/logo.png";
---

<div class="w-full  flex flex-row items-center justify-start px-5 py-2 bg-secondary">
   <Image src={logo} alt="logo" width="300"   />

   <div>
        
   </div>

</div>