<?xml version="1.0"?>
<robot name="arm">

  <material name="dark_gray">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.0 0.7 0.7 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="0.5"/>
      </geometry>
      <material name="dark_gray"/>
    </visual>
  </link>

  <link name="bottom_arm">
    <visual>
      <geometry>
        <cylinder length="2.0" radius="0.2"/>
      </geometry>
      <material name="blue"/>
      <origin xyz="0 0 1.0"/>
    </visual>
  </link>

  <link name="bottom_rotator">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="1.0"/>
      </geometry>
      <material name="dark_gray"/>
    </visual>
  </link>

  <link name="top_arm">
    <visual>
      <geometry>
        <cylinder length="2.0" radius="0.2"/>
      </geometry>
      <material name="blue"/>
      <origin xyz="0 0 1.0"/>
    </visual>
  </link>

  <link name="wrist">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.2"/>
      </geometry>
      <material name="dark_gray"/>
      <origin xyz="0 0 0.5"/>
    </visual>
  </link>

  <link name="gripper_left">
    <visual>
      <origin rpy="0.0 -1.570796 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/l_finger.dae"
        scale="4 4 4"/>
      </geometry>
    </visual>
  </link>

  <link name="gripper_right">
    <visual>
      <origin rpy="-3.14159 -1.570796 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/l_finger.dae"
        scale="4 4 4"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_to_bottom_rotator" type="revolute">
    <axis xyz="0.0 0.0 0.2"/>
    <limit effort="1000.0" lower="-2.0" upper="2.0" velocity="0.5"/>
    <parent link="base_link"/>
    <child link="bottom_rotator"/>
    <origin xyz="0 0 0.2"/>
  </joint>

  <joint name="bottom_rotator_to_bottom_arm" type="revolute">
    <axis xyz="-1.0 0.0 0.0"/>
    <limit effort="1000.0" lower="-2.0" upper="2.0" velocity="0.5"/>
    <parent link="bottom_rotator"/>
    <child link="bottom_arm"/>
    <origin xyz="0 0 0.1"/>
  </joint>

  <joint name="bottom_arm_to_top_arm" type="revolute">
    <axis xyz="1.0 0.0 0.0"/>
    <limit effort="1000.0" lower="-2.0" upper="2.0" velocity="0.5"/>
    <parent link="bottom_arm"/>
    <child link="top_arm"/>
    <origin xyz="0 0 2.0"/>
  </joint>

  <joint name="top_arm_to_wrist" type="revolute">
    <axis xyz="1.0 0.0 0.0"/>
    <limit effort="1000.0" lower="-2.0" upper="2.0" velocity="0.5"/>
    <parent link="top_arm"/>
    <child link="wrist"/>
    <origin xyz="0 0 2.0"/>
  </joint>

  <joint name="wrist_to_gripper_left" type="revolute">
    <axis xyz="1.0 0.0 0.0"/>
    <limit effort="1000.0" lower="-2.0" upper="2.0" velocity="0.5"/>
    <parent link="wrist"/>
    <child link="gripper_left"/>
    <origin xyz="0 0 1.0"/>
  </joint>

  <joint name="wrist_to_gripper_right" type="revolute">
    <axis xyz="1.0 0.0 0.0"/>
    <limit effort="1000.0" lower="-2.0" upper="2.0" velocity="0.5"/>
    <parent link="wrist"/>
    <child link="gripper_right"/>
    <origin xyz="0 0 1.0"/>
  </joint>

</robot>