---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import {Button} from '@/components/ui/button';

// import WebSocketVideo from "../components/WebSocketVideo";

---

<Layout title="Welcome to Astro.">
	<div class="flex flex-row w-full justify-center p-5 gap-5">
	
	<h1>Index</h1>
		<button>Press me</button>
		<Button>Press ME</Button>

	</div>
</Layout>

